@charset "utf-8";
@import url("normalize.css");
/* Resets */

/* Paul Irish - Box Sizing Reset 
   - https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
/* apply a natural box layout model to all elements, but allowing components to change */

// Variables
$main_color:black;
$background_main: #C3B299;
$background_pop: #016D29;
$button_background:#F3C620;
$shadow: black;
$letters: #016D29;
$box_letters:#F3C620;
$button_letters:#016D29;
$border_headings:  none;
$main_button_color:#F3C620;

$main_boxes_width: auto;
$main_boxes_height: 100px;
$border_box_height: 50px;
$border_type: none;
$border_font: 1px;
$box_display: flex;
$box_justify: center;
$box_align: center;
$header_font: 35px;
$grid_name_font:20px;
$font_family: 'Roboto',sans-serif;
$radius:30px;
$button_radius:30px;



// Mixins
@mixin grid_boxes( $border_type, $border_font, $main_color, $border_box_height, $main_boxes_width, $box_display, $box_justify, $box_align ){
   
    border:$border_type $border_font $main_color;
    height: $border_box_height;
    width: $main_boxes_width;
    display: $box_display;
    justify-content: $box_justify;
    align-items: $box_align;
    
}

html {
    box-sizing: border-box;
    background-image: url(../images/vegas.jpg);
}
*, *:before, *:after {
    box-sizing: inherit;
}
#container{
   
    min-width:45%;
    height:500px;
    display: grid;
  	grid-template-columns:  repeat(8, 1fr);
	grid-gap: 5px;
    
}
#box1 {
	
    @include grid_boxes( $border_type, $border_font, $main_color, $border_box_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:1/3/2/6;
    font-size: $header_font;
    
}
#box2 {
    @include grid_boxes( $border_type, $border_font, $main_color, $border_box_height,$main_boxes_width, $box_display, $box_justify, $box_align);
	grid-area:1/6/2/9;
    font-size: $header_font;
}
#box3 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/1/4/3;
    font-size: $grid_name_font;
}
#box4 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/3/4/4;
    
}
#box5 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/4/4/5;
}
#box6 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/5/4/6;
    font-size: $grid_name_font;
}
#box7 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/6/4/7;
}
#box8 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/7/4/8;
}
#box9 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:3/8/4/9;
    font-size: $grid_name_font;
}
#box10 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/1/5/3;
    font-size: $grid_name_font;
}
#box11 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/3/5/4;
}
#box12 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/4/5/5;
}
#box13 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/5/5/6;
    font-size: $grid_name_font;
}
#box14 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/6/5/7;
}
#box15 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/7/5/8;
}
#box16 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:4/8/5/9;
    font-size: $grid_name_font;
}
#box17 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/1/6/3;
    font-size: $grid_name_font;
}
#box18 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/3/6/4;
}
#box19 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/4/6/5;
}
#box20 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/5/6/6;
    font-size: $grid_name_font;
}
#box21 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/6/6/7;
}
#box22 {
	@include grid_boxes( $border_type, $border_font, $main_color, $main_boxes_height,$main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/7/6/8;
}
#box23 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:5/8/6/9;
    font-size: $grid_name_font;
}
#box24 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:6/1/7/3;
    font-size: $grid_name_font;
}
#box25 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:6/5/7/6;
    border-top: solid;
    font-size: $grid_name_font;
}
#box26 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:6/8/7/9;
    border-top: solid;
    font-size: $grid_name_font;
}
#box27 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/3/3/4;
    border-bottom: solid;
    font-size: $grid_name_font;
}
#box28 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/4/3/5;
    border-bottom: solid;
    font-size: $grid_name_font;
}
#box29 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/5/3/6;
    border-bottom: solid;
    font-size: $grid_name_font;
}
#box30 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/6/3/7;
    border-bottom: solid;
    font-size: $grid_name_font;
}
#box31 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/7/3/8;
    border-bottom: solid;
    font-size: $grid_name_font;
}
#box32 {
	@include grid_boxes( dashed, $border_font, $border_headings, $main_boxes_height, $main_boxes_width, $box_display, $box_justify, $box_align);
    grid-area:2/8/3/9;
    border-bottom: solid;
    font-size: $grid_name_font;
}

#start-btn{
    display:inline-block;
    padding:5px 2px 5px 2px;
    width: 100px;
    margin:0 0px 5px 0px;
    border:2px dotted rgba(61, 27, 156, 0);
    border-radius:$button_radius;
    box-sizing: border-box;
    background-color: $main_button_color;
    text-decoration:none;
    font-family:$font_family;
    font-weight:300;
    color:$button_letters;
    text-shadow: 1px 1px rgba($color: #000000, $alpha: .35);
    text-align:center;
    transition: all 0.2s;
    }
#start-btn:hover{
border-color:white;
}
#rules-btn{
    display:inline-block;
    padding:5px 2px 5px 2px;
    width: 100px;
    margin:0 0px 5px 0px;
    border:2px dotted rgba(61, 27, 156, 0);
    border-radius:$button_radius;
    box-sizing: border-box;
    background-color: $main_button_color;
    text-decoration:none;
    font-family:$font_family;
    font-weight:300;
    color:$button_letters;
    text-shadow: 1px 1px rgba($color: #000000, $alpha: .35);
    text-align:center;
    transition: all 0.2s;
    }
#rules-btn:hover{
    border-color:white;
}
#refresh-btn{
    position:absolute;
    bottom:10px;
    right:10px;
    font-weight: bold;
    border-radius:$button_radius;
    background-color: $button_background;
    color:$button_letters;
    border:2px dotted rgba(61, 27, 156, 0);
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
    }
#refresh-btn:hover{
    border-color:white; 
}
#pop-up{
    width:450px;
    padding:10px;
    background-color: $background_pop;
    color: $box_letters;
    border-radius:$radius;
    border:solid 1px $main_color;
    box-shadow:0px 0px 5px $shadow, 5px 5px 5px $main_color;
    position:absolute;
    top:50%;
    left:50%;
    transition: opacity 2s;
    transform:translate(-50%, -50%);
    
    opacity:0;
    pointer-events: none;
}
#thanks{
    width:450px;
    padding:10px;
    background-color: $background_pop;
    border-radius:$radius;
    color:$box_letters;
    border:solid 1px $main_color;
    box-shadow:0px 0px 5px $shadow, 5px 5px 5px $main_color;
    position:absolute;
    top:50%;
    left:50%;
    display: none;
    transform:translate(-50%, -50%);
    pointer-events: none;   
}
#btn-close{
    position:absolute;
    bottom:10px;
    left:10px;
    font-weight: bold;
    border-radius:$button_radius;
    background-color: $button_background;
    color:$button_letters;
    border:2px dotted rgba(61, 27, 156, 0);
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
#btn-close:hover{
    border-color:white;
}

#btn-again{
    position:absolute;
    bottom:10px;
    right:10px;
    font-weight: bold;
    border-radius:$button_radius;
    background-color: $button_background;
    color:$button_letters;
    border:2px dotted rgba(61, 27, 156, 0);
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
#btn-again:hover{
    border-color:white;
}
#rules-back{
    position:absolute;
    bottom:10px;
    right:10px;
    font-weight: bold;
    border-radius:$button_radius;
    background-color: $button_background;
    color:$button_letters;
    border:2px dotted rgba(61, 27, 156, 0);
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
#rules-back:hover{
    border-color:white;
}

#rules{
    width:450px;
    padding:10px;
    border-radius:$radius;
    background-color: $background_pop;
    color: $box_letters;
    border:solid 1px $main_color;
    box-shadow:0px 0px 5px $shadow, 5px 5px 5px $main_color;
    position:absolute;
    top:50%;
    left:50%;
    transition: opacity 2s;
    transform:translate(-50%, -50%);
    
    opacity:0;
    pointer-events: none;
}

body {
    margin: 10px;
    display:flex;
    flex-direction:column ;
    font-family:$font_family;
    min-height: 100vh;
    color: $letters;
    
   
}

footer, main, article, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 nav a {
    font-family:$font_family;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}
h2{
    color: white;  
}
#winner{
    color: white;  
    font-weight: bold;
    font-size: 25px;
}

p {
    font-size: 20px;
    color: $box_letters;
}

li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.border {
    width: 50%;
    height: 600px;
    border-radius:$radius;
    padding-left: 0px;
    margin: 0 auto;
    background-color: $background_main;
    box-shadow:5px 10px 5px $shadow;
    display: flex;
    flex-direction: column;
    
}

header h1 {
    margin: 0;
    padding:20px;
    text-align:center;
    color: white;
    line-height: 1;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

header div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 75px 0 75px;
}

main {
    padding: 20px;
   
}


footer {
    padding: 20px;
    font-size: 1.1em;
    color: white;
}




